/*
* @Author: 11
* @Date:   2019-12-09 16:53:09
* @Last Modified by:   11
* @Last Modified time: 2019-12-25 18:41:53
*/
*{
	margin:0;
	padding:0;
}
ul,li{
	list-style: none;
}
.box{
	width: 1200px;
	height: 490px;
	margin: 30px auto;
	position: relative;
	border-radius: 20px;
	overflow: hidden;
}
.slider{
	width: 8400px;
	position: absolute;
	left: -1200px;	
}
.slide{
	width: 1200px;
	overflow: hidden;
	float: left;
}
.slide img{
	width: 1200px;
}
.box>span{
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color: white;
	top: 200px;
	line-height: 50px;
	background: rgb(255, 0, 0);
	font-size: 30px;
	position: absolute;
	opacity: 0;
}
#left{
	left: 30px;
}
#right{
	right: 30px;
}
.nav{
	position: absolute;
	left: 580px;
	bottom:22px;
}
.nav>li{
	float: left;
	width: 16px;
	height: 16px;
	background-color:white;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%;
}
.active{
	opacity: 0.5;
}

